body *{
    &:not(img,i){ font-family: 'Poppins', sans-serif; }    
}

:root{
    --backwallperColor: #f6f7f9; 
    --backmenuColor: #333;
    --highlightColor: #ffbf00;    
    --textColor: #051e34;
    --lightColor: #f6f7f9;
    --projectBrdColor: #545b6261; 
    --projectItemBack: #f6f7f9cf;
    --formBtnBack: rgb(5 30 52 / 60%);
    --pensShadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    --footerPolygon: polygon(0% 0%, 0% 100%, 100% 100%);
}

#root{
    background-color: var(--backwallperColor);
}

h1{ font-size: calc(1rem + 0.3vw); }
h3{ font-size: calc(1.5rem + 0.4vw); }

h5{ font-size: calc(1rem + 0.3vw); }

h2{
    text-align: center;
    width: fit-content;
    max-width: fit-content;
    margin: 0rem auto 1.5rem;        
    text-transform: uppercase;
    padding-inline: 1.8rem;
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: var(--highlightColor);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 4.0rem;
    padding-block: 0.5rem;
    path{ stroke: var(--backwallperColor); }
}

#skills, #projects:not(.projects-page), #certificates, #pens, #feedback{ 
    margin: 7rem auto 3rem; 
    &>h2{ 
        font-size: calc(1.3rem + 0.65vw);
        svg {
            background-color: var(--backmenuColor);
            color: var(--backwallperColor);
            stroke: var(--backwallperColor);
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            padding: 0.5rem 0.0rem;
            width: 3.5rem;    
        }
    }
    h2:first-of-type{ opacity: 0; }
}

p{ color: var(--textColor); }

html{
    scroll-behavior: smooth;
    ::-webkit-scrollbar { width: 5px; }
        
    ::-webkit-scrollbar-track {
        background: var(--backwallperColor);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--highlightColor);
        border-radius: 10px;
    }
}

#btnTop{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    color: var(--highlightColor);
    background-color: var(--backmenuColor);
    padding: 0.35rem;
    width: 22px;
    height: 22px;
    border-radius: 0.2rem;
    cursor: pointer;        
    display: none;
}


.menuItemActive{
    color: var(--highlightColor)!important;
    &::after{ background-color: var(--textColor)!important; }
}

.smmenuItemActive{
    .form-check-input{
        background-color: var(--textColor)!important;
        accent-color: var(--backmenuColor);
    }
    .form-check-label{
        color: var(--highlightColor)!important;
    }    
}
