@media (max-width: 575.09px) {
  #hero .hero__description p {
    font-size: calc(0.8rem + 0.2vw) !important;
  }
  #hero .hero__description h3, #hero .hero__description p:first-of-type {
    margin-left: 0% !important;
  }
  #hero .hero__description h3 {
    margin-top: 83vw !important;
  }
  #hero .hero__description a:last-of-type {
    font-size: calc(0.7rem + 0.25vw) !important;
  }
  #hero .hero__description a:last-of-type svg {
    font-size: 1.2rem !important;
  }
  #hero .hero__description a svg {
    font-size: 1.4rem !important;
  }
  #hero .hero__description .hero__photo__small {
    width: 80% !important;
    left: 8% !important;
    border-radius: 25% !important;
  }
  #skills > h2, #projects > h2, #certificates > h2, #pens > h2, #feedback > h2 {
    font-size: calc(1rem + 0.5vw) !important;
  }
  h5 {
    font-size: calc(0.9rem + 0.25vw) !important;
  }
  #skills h2:not(:first-of-type) {
    font-size: calc(0.9rem + 0.45vw) !important;
  }
  #skills .skills__container .skills__container__item svg {
    font-size: 1.5rem !important;
  }
  #skills .skills__container .skills__container__item p {
    font-size: calc(0.7rem + 0.2vw) !important;
  }
  .projects__wrapper__item__imgWrapper, .pens__wrapper .pens__wrapper__item img {
    height: calc(20vh + 25vw) !important;
  }
  .projects__wrapper, .pens__wrapper {
    -ms-grid-columns: (70%)[1] !important;
    grid-template-columns: repeat(1, 70%) !important;
  }
  .projects__wrapper__item__imgWrapper, .pens__wrapper img {
    height: calc(20vh + 25vw) !important;
  }
  #certificates .certificates__carousel .carousel-inner {
    height: calc(25vh + 10vw) !important;
    width: 80% !important;
  }
  #certificates .certificates__carousel .carousel-control-prev, #certificates .certificates__carousel .carousel-control-next {
    margin-inline: 0rem !important;
    margin-top: 1rem !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    top: 100% !important;
  }
  #certificates .certificates__carousel .carousel-control-prev {
    left: calc(45% - 20px) !important;
  }
  #certificates .certificates__carousel .carousel-control-next {
    right: calc(45% - 20px) !important;
  }
  #projects > a {
    font-size: calc(0.8rem + 0.25vw) !important;
    padding: 0.8rem 1.5rem !important;
    text-align: center;
  }
  #pens > p {
    font-size: calc(0.7rem + 0.2vw) !important;
  }
  #pens .pens__wrapper .pens__wrapper__item p {
    font-size: calc(0.9rem + 0.25vw) !important;
  }
  #feedback form .form-group .form-label {
    font-size: calc(0.9rem + 0.25vw) !important;
  }
  #feedback form .form-group .form-control {
    font-size: calc(0.8rem + 0.2vw) !important;
  }
  #feedback form button {
    font-size: calc(0.8rem + 0.25vw) !important;
    padding: 0.6rem 1rem !important;
    text-align: center;
  }
  #btnTop {
    right: 0rem !important;
    font-size: 1rem !important;
    padding: 0.3rem !important;
    width: 19px !important;
    height: 19px !important;
  }
  .projects-page .projects_icons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-inline: 2%;
  }
  .projects-page .projects_icons p:not(last-of-type) {
    margin-bottom: 0.35rem !important;
  }
  .projects-page .projects_icons .smprojs_menu-ic {
    display: block !important;
  }
  .projects-page .projects_menu {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero .hero__description p {
    font-size: calc(0.8rem + 0.3vw) !important;
  }
  #hero .hero__description p:first-of-type {
    margin-bottom: 2rem !important;
  }
  #hero .hero__description a:last-of-type {
    font-size: calc(0.7rem + 0.25vw) !important;
  }
  #hero .hero__description a:last-of-type svg {
    font-size: 1.25rem !important;
  }
  .projects__wrapper, .pens__wrapper {
    -ms-grid-columns: (47%)[2];
    grid-template-columns: repeat(2, 47%);
  }
  .projects__wrapper__item__imgWrapper, .pens__wrapper img {
    height: calc(20vh + 15vw) !important;
  }
  #certificates .certificates__carousel .carousel-inner {
    height: calc(30vh + 15vw) !important;
  }
  #hero .hero__description a svg {
    font-size: 1.6rem !important;
  }
  #btnTop {
    right: 0rem !important;
    font-size: 1rem !important;
  }
  .projects-page .projects_icons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-inline: 2%;
  }
  .projects-page .projects_icons p:not(last-of-type) {
    margin-bottom: 0.35rem !important;
  }
  .projects-page .projects_icons .smprojs_menu-ic {
    display: block !important;
  }
  .projects-page .projects_menu {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  #hero .hero__description p {
    font-size: calc(0.8rem + 0.3vw);
  }
  #hero .hero__description a:last-of-type {
    font-size: calc(0.7rem + 0.25vw);
  }
  #hero .hero__description a:last-of-type svg {
    font-size: 1.25rem;
  }
  #hero .hero__description a svg {
    font-size: 1.8rem;
  }
  #skills .skills__container .skills__container__item svg {
    font-size: 1.8rem;
  }
  #skills .skills__container .skills__container__item p {
    font-size: calc(0.7rem + 0.2vw);
  }
  .projects__wrapper, .pens__wrapper {
    -ms-grid-columns: (31%)[3];
    grid-template-columns: repeat(3, 31%);
  }
  .projects__wrapper__item__imgWrapper, .pens__wrapper img {
    height: calc(20vh + 10vw) !important;
  }
  #certificates .certificates__carousel .carousel-inner {
    height: calc(30vh + 20vw) !important;
  }
}
@-webkit-keyframes skillsItemBefore {
  0% {
    height: 100%;
    width: 2px;
  }
  50% {
    height: 0%;
    width: 2px;
  }
  100% {
    top: auto;
    bottom: 0px;
    width: 45%;
    height: 2px;
  }
}
@keyframes skillsItemBefore {
  0% {
    height: 100%;
    width: 2px;
  }
  50% {
    height: 0%;
    width: 2px;
  }
  100% {
    top: auto;
    bottom: 0px;
    width: 45%;
    height: 2px;
  }
}
@-webkit-keyframes skillsItemBeforervs {
  0% {
    top: auto;
    bottom: 0px;
    width: 45%;
    height: 2px;
  }
  50% {
    top: auto;
    bottom: 0;
    height: 0%;
    width: 2px;
  }
  100% {
    height: 100%;
    width: 2px;
  }
}
@keyframes skillsItemBeforervs {
  0% {
    top: auto;
    bottom: 0px;
    width: 45%;
    height: 2px;
  }
  50% {
    top: auto;
    bottom: 0;
    height: 0%;
    width: 2px;
  }
  100% {
    height: 100%;
    width: 2px;
  }
}
@-webkit-keyframes rtg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rtg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes sectionHead {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}
@keyframes sectionHead {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}
@-webkit-keyframes heroDesc {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes heroDesc {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@-webkit-keyframes heroDescLink {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes heroDescLink {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8vh);
            transform: translateY(-8vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@-webkit-keyframes heroAvatar {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heroAvatar {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes skillAnmy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes skillAnmy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes projectsWrapper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes projectsWrapper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes projectAnmy {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}
@keyframes projectAnmy {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}
@-webkit-keyframes certificatesAnmy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes certificatesAnmy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pensQuate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes pensQuate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes pensAnmy {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes pensAnmy {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@-webkit-keyframes polygonAnmy {
  0% {
    border-radius: 71% 29% 41% 59%/59% 43% 57% 41%;
  }
  25% {
    border-radius: 31% 69% 57% 43%/27% 48% 52% 73%;
  }
  50% {
    border-radius: 45% 55% 37% 63%/63% 73% 27% 37%;
  }
  75% {
    border-radius: 100% 50% 50% 100%/75% 69% 69% 75%;
  }
  100% {
    border-radius: 71% 29% 41% 59%/59% 43% 57% 41%;
  }
}
@keyframes polygonAnmy {
  0% {
    border-radius: 71% 29% 41% 59%/59% 43% 57% 41%;
  }
  25% {
    border-radius: 31% 69% 57% 43%/27% 48% 52% 73%;
  }
  50% {
    border-radius: 45% 55% 37% 63%/63% 73% 27% 37%;
  }
  75% {
    border-radius: 100% 50% 50% 100%/75% 69% 69% 75%;
  }
  100% {
    border-radius: 71% 29% 41% 59%/59% 43% 57% 41%;
  }
}
#skills > h2, #projects:not(.projects-page) > h2, #certificates > h2, #pens > h2, #feedback > h2 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#skills .skills__container__item {
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#projects:not(.projects-page) .projects__wrapper {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.projects-page .projects__wrapper .projects__wrapper__item {
  opacity: 0;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-timing-function: cubic-bezier(0.3, 0.25, 0.25, 0.3);
          animation-timing-function: cubic-bezier(0.3, 0.25, 0.25, 0.3);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#certificates .certificates__carousel {
  opacity: 0;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#pens > p {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#pens .pens__wrapper .pens__wrapper__item {
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body *:not(img, i) {
  font-family: "Poppins", sans-serif;
}

:root {
  --backwallperColor: #f6f5fb;
  --backmenuColor: #181a20fd;
  --highlightColor: #5468ff;
  --textColor: #181a20;
  --lightColor: #f6f5fb;
  --projectItemBack: #f6f5fbcf;
  --formBtnBack: #181a2099;
  --pensShadow: #5468ff4d 0px 1px 2px 0px, #5468ff26 0px 1px 3px 1px;
  --footerPolygon: polygon(0% 0%, 0% 100%, 100% 100%);
}

#root {
  background-color: var(--backwallperColor);
}

h1 {
  font-size: calc(1rem + 0.3vw);
}

h3 {
  font-size: calc(1.5rem + 0.4vw);
}

h5 {
  font-size: calc(1rem + 0.3vw);
}

h2 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0rem auto 1.5rem;
  text-transform: uppercase;
  padding-inline: 1.8rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: var(--highlightColor);
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-block: 0.5rem;
}
h2 path {
  stroke: var(highlightColor);
}

#skills, #projects:not(.projects-page), #certificates, #pens, #feedback {
  margin: 7rem auto 3rem;
}
#skills > h2, #projects:not(.projects-page) > h2, #certificates > h2, #pens > h2, #feedback > h2 {
  font-size: calc(1.3rem + 0.65vw);
}
#skills > h2 svg, #projects:not(.projects-page) > h2 svg, #certificates > h2 svg, #pens > h2 svg, #feedback > h2 svg {
  background-color: #f6f7f9 !important;
  color: var(--highlightColor);
  stroke: var(--highlightColor);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  padding: 0.5rem 0rem;
  width: 3.5rem;
  border: 2px solid var(--highlightColor);
}
#skills h2:first-of-type, #projects:not(.projects-page) h2:first-of-type, #certificates h2:first-of-type, #pens h2:first-of-type, #feedback h2:first-of-type {
  opacity: 0;
}

p {
  color: var(--textColor);
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 5px;
}
html ::-webkit-scrollbar-track {
  background: var(--backwallperColor);
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background: var(--highlightColor);
  border-radius: 10px;
}

#btnTop {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  color: var(--highlightColor);
  background-color: var(--backmenuColor);
  padding: 0.35rem;
  width: 22px;
  height: 22px;
  border-radius: 0.2rem;
  cursor: pointer;
  display: none;
}

.menuItemActive {
  color: var(--highlightColor) !important;
}
.menuItemActive::after {
  background-color: var(--textColor) !important;
}

.smmenuItemActive .form-check-input {
  background-color: var(--textColor) !important;
  accent-color: var(--backmenuColor);
}
.smmenuItemActive .form-check-label {
  color: var(--highlightColor) !important;
}

header {
  width: 100%;
  overflow: auto;
  background-color: var(--backwallperColor);
  padding-block: 0.6rem;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9999 !important;
  top: 0;
}
header h1 {
  font-weight: 400;
  margin-left: 6%;
  margin-bottom: 0;
  padding: 0.5rem;
  float: left;
  position: relative;
  color: var(--textColor);
}
header h1::before {
  position: absolute;
  content: "";
  top: 0rem;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--highlightColor);
}
header .header__colorMoodWrapper {
  float: right;
}
header .header__colorMoodWrapper svg {
  color: var(--textColor);
  font-size: 1.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
}
header .header__colorMoodWrapper .header__colorMoodWrapper__moon {
  display: none;
}
header .header__menuBtn {
  float: right;
  margin-right: 2rem;
  margin-left: 1rem;
}
header .header__menuBtn svg {
  color: var(--textColor);
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
header .header__menuBtn:hover svg {
  color: var(--highlightColor);
}
header .header__menu {
  position: fixed;
  top: 3rem;
  right: 0.7%;
  background-color: var(--backmenuColor);
  text-decoration: none;
  z-index: 9;
  padding: 0.5rem;
  padding-right: 7.1%;
  border: 0.2rem solid var(--highlightColor);
  border-radius: 0.4rem;
  display: none;
}
header .header__menu a {
  color: var(--lightColor);
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}
header {
  /*    
      position: relative;
      margin-bottom: 75px;
      &::before, &::after{ content: "";
          width: 100%;  background-color: #ff0000;
          position: absolute;          
          top: 100%;  right: 0;  left: 0;          
        }      
        &::before{
          height: 40px; opacity: 0.6;  clip-path:polygon(0% 0%, 100% 0%, 100% 100%);
        }
        &::after{ content: "";
          height: 60px;  opacity: 0.4; clip-path:polygon(0% 0%, 100% 0%, 100% 100%);
        }  
  */
}

#hero {
  padding-top: 6rem;
}
#hero .hero__photo {
  width: 90%;
  padding: 0;
  margin: 8px;
  background-color: var(--highlightColor);
  border-radius: 45% 55% 37% 63%/63% 73% 27% 37%;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: polygonAnmy 3.7s linear 0.2s infinite;
          animation: polygonAnmy 3.7s linear 0.2s infinite;
}
@media (max-width: 767.9px) {
  #hero .hero__photo {
    display: none;
  }
}
@media (min-width: 768px) {
  #hero .hero__photo {
    display: inline-block;
  }
}
#hero .hero__photo img {
  display: block;
  width: 100%;
}
#hero .hero__description {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#hero .hero__description h3 {
  font-weight: 700;
}
@media (max-width: 767.9px) {
  #hero .hero__description h3 {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  #hero .hero__description h3 {
    margin-left: 0 !important;
  }
}
#hero .hero__description h3 {
  color: var(--textColor);
}
#hero .hero__description p {
  font-weight: 400;
}
#hero .hero__description p:first-of-type {
  color: var(--highlightColor);
}
@media (max-width: 767.9px) {
  #hero .hero__description p:first-of-type {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  #hero .hero__description p:first-of-type {
    margin-left: 0 !important;
  }
}
#hero .hero__description .hero__photo__small {
  width: 20%;
  padding: 0;
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--highlightColor);
  border-radius: 45% 55% 37% 63%/63% 73% 27% 37%;
  overflow: hidden;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#hero .hero__description .hero__photo__small img {
  display: block;
  width: 100%;
}
@media (max-width: 767.9px) {
  #hero .hero__description .hero__photo__small {
    display: block;
  }
}
@media (min-width: 768px) {
  #hero .hero__description .hero__photo__small {
    display: none;
  }
}
#hero .hero__description a {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-inline: 0.5rem;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#hero .hero__description a:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#hero .hero__description a:last-of-type {
  background-color: var(--highlightColor);
  color: var(--lightColor);
  padding: 0.45rem 1rem;
}
#hero .hero__description a:last-of-type svg {
  color: var(--lightColor);
}
#hero .hero__description a svg {
  color: var(--textColor);
}
#hero .hero__description a svg:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#skills {
  margin-inline: 5% !important;
}
#skills h2:not(:first-of-type) {
  margin: 0.6rem auto 0rem;
  padding-inline: 0rem !important;
  font-size: calc(1.2rem + 0.5vw);
  background-color: transparent;
  color: var(--highlightColor);
}
#skills h2:not(:first-of-type)::after, #skills h2:not(:first-of-type)::before {
  display: none;
}
#skills .skills__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
}
@media (max-width: 767.9px) {
  #skills .skills__container {
    -ms-grid-columns: (97%)[1];
    grid-template-columns: repeat(1, 97%);
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #skills .skills__container {
    -ms-grid-columns: (47%)[2];
    grid-template-columns: repeat(2, 47%);
  }
}
@media (min-width: 992px) {
  #skills .skills__container {
    -ms-grid-columns: (31%)[3];
    grid-template-columns: repeat(3, 31%);
  }
}
#skills .skills__container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#skills .skills__container .skills__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  -webkit-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
}
#skills .skills__container .skills__container__item span {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: auto;
  height: 100%;
  width: 2px;
  background-color: var(--highlightColor);
  -webkit-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
}
#skills .skills__container .skills__container__item svg {
  display: block;
  float: left;
  margin-right: 1rem;
  color: var(--textColor);
}
#skills .skills__container .skills__container__item svg:nth-of-type(2) {
  margin-left: -2rem;
  z-index: 9;
  background-color: var(--backwallperColor);
  width: 1rem;
}
#skills .skills__container .skills__container__item p {
  float: left;
  margin-bottom: 0;
  text-transform: uppercase;
}

#projects {
  margin-inline: 3.5% !important;
  position: relative;
}
#projects .projects__filter {
  position: absolute;
  top: 0.4rem;
  right: -2.6%;
  color: var(--textColor);
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-animation: rtg infinite 5s linear;
          animation: rtg infinite 5s linear;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
#projects .projects__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#projects .projects__wrapper .projects__wrapper__item {
  position: relative;
  padding-block: 0.4rem;
  margin-bottom: 2.5rem;
}
#projects .projects__wrapper .projects__wrapper__item h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--textColor);
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__imgWrapper {
  width: 100%;
  overflow: hidden;
  border: 0.2rem solid var(--textColor);
  border-radius: 0.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__imgWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__imgWrapper .projects__wrapper__item__imgWrapper__langs {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: var(--projectItemBack);
  padding: 1rem;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__imgWrapper .projects__wrapper__item__imgWrapper__langs p {
  color: var(--highlightColor);
  font-weight: 600;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__imgWrapper .projects__wrapper__item__imgWrapper__langs span {
  display: inline-block;
  width: 50%;
  color: var(--backmenuColor);
  font-weight: 500;
}
#projects .projects__wrapper .projects__wrapper__item:hover .projects__wrapper__item__imgWrapper img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#projects .projects__wrapper .projects__wrapper__item > p {
  position: absolute;
  width: 90%;
  top: 100%;
  left: 0rem;
  margin-inline: 5%;
  opacity: 0;
  overflow-wrap: break-word;
}
#projects .projects__wrapper .projects__wrapper__item > p span {
  color: rgba(0, 128, 0, 0.705);
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__controlls > * {
  display: inline-block;
  margin-inline: 0.3rem !important;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__controlls svg {
  font-size: larger;
  color: #5468ff;
  margin: 0;
  cursor: pointer;
}
#projects .projects__wrapper .projects__wrapper__item .projects__wrapper__item__controlls a {
  margin: 0;
  padding: 0;
}
#projects > a {
  padding: 1rem 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-inline: auto;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: var(--textColor);
  color: var(--lightColor);
  border: 0.25rem solid var(--lightColor);
  letter-spacing: 0.1rem;
  font-size: calc(1rem + 0.3vw);
}
#projects > a span {
  font-weight: 500;
}

.projects-page {
  margin-top: 3rem !important;
  margin-bottom: 0rem !important;
  padding: 3rem 0rem !important;
}
.projects-page h2 {
  width: 100% !important;
  max-width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--highlightColor) !important;
  background-color: transparent !important;
}
.projects-page h2::after, .projects-page h2::before {
  display: none !important;
}
.projects-page h2 {
  margin-bottom: 2rem !important;
}
.projects-page h2 a {
  position: absolute;
  bottom: calc(50% - 14px);
  left: 2%;
  font: inherit;
  color: var(--textColor);
}
.projects-page h2 a svg {
  font: inherit;
}
.projects-page .projects_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}
.projects-page .projects_icons p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 0.6rem;
  background-color: var(--backmenuColor);
  color: var(--backwallperColor);
  margin-bottom: 0;
  font-size: calc(0.6rem + 0.25vw);
}
.projects-page .projects_icons p svg {
  color: var(--highlightColor);
  margin-right: 0.5rem;
}
.projects-page .projects_icons .smprojs_menu-ic {
  display: none;
  position: absolute;
  top: 44%;
  right: 1rem;
  cursor: pointer;
  color: var(--backmenuColor);
  -webkit-animation: rtg 5s linear infinite;
          animation: rtg 5s linear infinite;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.projects-page .projects_menu {
  width: 100%;
  margin: 0rem 2% 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-page .projects_menu button {
  border: none;
  background-color: transparent;
  color: var(--textColor);
  margin-right: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0rem !important;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 500;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.projects-page .projects_menu button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--highlightColor);
}
.projects-page .smprojs_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(51, 51, 51, 0.2);
  display: none;
  z-index: 999999;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper {
  width: 60vw;
  margin: 15vh 20vw 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--backwallperColor);
  border-radius: 1rem 2rem 2rem 1rem;
  padding: 1rem;
  height: 80vh;
  overflow: auto;
  position: relative;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper .projects__filtersWrapper .form-group {
  color: var(--lightColor);
  display: block;
  padding: 0.5rem;
  margin-bottom: 0rem;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper .projects__filtersWrapper .form-group:last-of-type {
  margin-bottom: 0rem;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper .projects__filtersWrapper .form-group .form-check-input {
  margin-top: 0.4rem;
  border: none !important;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper .projects__filtersWrapper .form-group .form-check-label {
  border: none;
  background-color: transparent;
  color: var(--textColor);
  margin-right: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0rem !important;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 500;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper .smprojs_menu_wrapper_close {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  color: var(--backmenuColor);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 999;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper button {
  border: none;
  background-color: transparent;
  color: var(--textColor);
  margin-bottom: 1rem;
  position: relative;
  padding: 0rem 1.5rem !important;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 500;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper button:last-of-type {
  margin-bottom: 0rem;
}
.projects-page .smprojs_menu .smprojs_menu_wrapper button::after {
  content: "";
  position: absolute;
  top: 0.45rem;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--highlightColor);
}
.projects-page #scroll_down {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(2rem + 6vw);
  color: var(--textColor);
}

#certificates .certificates__carousel .carousel-indicators {
  display: none;
}
#certificates .certificates__carousel .carousel-inner {
  width: 75%;
  margin: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 1rem;
}
#certificates .certificates__carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
#certificates .certificates__carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
#certificates .certificates__carousel .carousel-control-prev, #certificates .certificates__carousel .carousel-control-next {
  width: 20px;
  margin-inline: calc(6.25% - 10px);
}
#certificates .certificates__carousel .carousel-control-prev-icon, #certificates .certificates__carousel .carousel-control-next-icon {
  background-image: none;
  position: relative;
}
#certificates .certificates__carousel .carousel-control-prev-icon::before, #certificates .certificates__carousel .carousel-control-next-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--textColor);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: -10px;
}
#certificates .certificates__carousel .carousel-control-prev-icon::before {
  content: "<";
}
#certificates .certificates__carousel .carousel-control-next-icon::before {
  content: ">";
}

#pens {
  margin-inline: 3.5%;
}
#pens p {
  text-align: center;
}
#pens .pens__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#pens .pens__wrapper .pens__wrapper__item {
  -webkit-box-shadow: var(--pensShadow);
          box-shadow: var(--pensShadow);
  margin-block: 1rem;
  padding: 0;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}
#pens .pens__wrapper .pens__wrapper__item img {
  display: block;
  width: 100%;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
#pens .pens__wrapper .pens__wrapper__item p {
  text-align: center;
  margin-top: 4rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}
@media (max-width: 767.9px) {
  #pens .pens__wrapper .pens__wrapper__item p {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #pens .pens__wrapper .pens__wrapper__item p {
    margin-top: 3rem;
  }
}
@media (min-width: 992px) {
  #pens .pens__wrapper .pens__wrapper__item p {
    margin-top: 4rem;
  }
}
#pens .pens__wrapper .pens__wrapper__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#feedback {
  margin-inline: 7.5%;
}
#feedback form {
  width: 100%;
  text-align: right;
}
#feedback form .form-group {
  text-align: left;
}
#feedback form .form-group .form-label {
  color: var(--textColor);
}
#feedback form .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#feedback form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--textColor);
  color: var(--lightColor);
  border: none;
}
#feedback form button:hover {
  background-color: var(--formBtnBack) !important;
  color: #f6f7f9 !important;
}
#feedback form button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

footer {
  width: 100%;
  background-color: var(--highlightColor);
  color: var(--lightColor);
  text-align: center;
  padding-block: 3rem;
  position: relative;
  margin-top: 75px;
}
footer::before, footer::after {
  content: "";
  width: 100%;
  background-color: var(--highlightColor);
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
}
footer::before {
  height: 60px;
  opacity: 0.6;
  clip-path: var(--footerPolygon);
}
footer::after {
  content: "";
  height: 40px;
  opacity: 0.4;
  clip-path: var(--footerPolygon);
}
footer h3 {
  margin-bottom: 1.5rem;
}
footer .footer__socialWrapper {
  margin: 0rem 0.2rem 1.5rem;
}
footer .footer__socialWrapper a {
  margin-inline: 0.5rem;
}
footer .footer__socialWrapper a svg {
  color: var(--lightColor);
  font-size: 1.5rem;
}
footer p {
  color: var(--lightColor) !important;
}
footer p:first-of-type {
  margin-bottom: 1.5rem;
}
footer p span {
  color: red;
}